/* Universal Styles */

/* div border for development use - remove after main structure done */
div {
  border: 1px dashed purple;
}
.sitebox {
  width: 960px;
  margin: auto;
  /*z-index: 5;*/
}
.flex {
  display: flex;
}
.mobile {
  display: none;
}
html {
  font-size: 18px;
}
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4rem;
}
@media only screen and (max-width: 960px) {
  .sitebox {
    width: 100%;
  }
}

/* Banner and Header Styles*/

header {
  color: white;
  background-color: cadetblue;
  /*align-items: center;*/
  position: relative;
  top: 1rem;
  /*z-index: 5;*/
}
.logo {
  align-items: center;
  flex: 1;
}
.logo img {
  height: 1.5rem;
  padding-left: 2rem;
}
.logo p {
  font-size: 1rem;
  padding-left: 1rem;
}
header ul {
  padding: 1rem 0;
}
header li {
  padding-right: 2rem;
}
.banner {
  height: 31rem;
  background-image: url("../images/glasses-bg.png");
  background-position: 10%;
  background-size: cover;
}
.byline {
  position: relative;
  top: 12.5rem;
  left: 2rem;
  text-align: right;
}
.byline span {
  /*width: auto;*/
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
@media only screen and (max-width: 960px) {
  header {
    position: static;
  }
  .banner {
    height: 22rem;
    background-position: 20%;
  }
  .byline {
    top: 6.75rem;
    left: auto;
    right: 2rem;
  }
  .byline span {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}
@media only screen and (max-width: 640px) {
  .logo p, .bigscreen {
    display: none;
  }
  .mobile {
    display: block;
  }
  .banner {
    height: 17rem;
    background-position: 20%;
  }
  .byline {
    top: 8rem;
    left: auto;
    text-align: center;
    right: auto;
    background-color: white;
    padding: 1rem 0;

  }
  .byline span {
    padding: 1rem;
    font-size: 1rem;
  }
}
/* Services Styles */

.services {
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.exams, .fittings, .delivery {
  height: 8rem;
  width: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.exams img, .fittings img, .delivery img {
  display: block;
  height: auto;
}
.exams img {
  width: 3.5rem;
}
.fittings img, .delivery img {
  width: 5rem;
}
.caption {
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .services {
    flex-direction: column;
    align-items: center;
    /*margin-top: 3.77rem;
    margin-bottom: 3.77rem;*/
  }
  .exams, .fittings, .delivery {
    padding: 0.77rem 0;
  }
  .caption {
    font-size: 0.77rem;
  }

}
.exams {/*
  width: 3.5rem;*/
}

.fittings {/*
  width: 5rem;*/
}

.delivery {/*
  width: 5rem;*/
}

.image-container {/*
  margin: auto;*/
}

.image-container img {/*
  display: block;
  margin: auto;
  width: 100%;*/
}

/* Information Section */

.information {
  padding-bottom: 5rem;
  justify-content: center;

}
.philosophy, .appointments {
  width: 35%;
  margin-right: 5%;


}
.information span {
  display: block;
  width: 10rem;
  color: white;
  background-color: cadetblue;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 1.25rem;

}
.information p {
  padding-top: 1rem;
}
@media only screen and (max-width: 640px) {
  .information {
    flex-direction: column;
    padding-bottom: 0;
  }
  .philosophy, .appointments {
    width: 100%;
    margin-right: 0;
    text-align: center;
    padding-bottom: 4rem;
  }
  .information span {
    width: 100%;
    padding: 0.5rem 0;
  }
  .information p {
    font-size: 0.77rem;
    padding-left: 1rem;
    padding-right: 1rem;

  }
}

/*  Footer Styles */

footer {
  background-color: azure;
  padding: 4rem 2rem;
  align-items: center;
}
footer img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
}
@media only screen and (max-width: 960px) {
  footer {
    padding: 4rem 0;
  }
}
@media only screen and (max-width: 640px) {
  footer img {
    margin: 0 auto;
  }
  footer div {
    display: none;
  }
}
